[Desktop Entry]
Name=KeySync
GenericName=KeySync
Comment=Sync all the OTR trust relationships between multiple chat apps
Exec=keysync-gui
Terminal=false
Type=Application
Icon=keysync
Categories=Utility;
StartupNotify=false
Keywords=secure;private;verified;chat;im;messaging;key;encryption;otr;openpgp;pgp;gpg;gnupg;jabber;xmpp;irc;
